<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This file has been introduced inside this solution in order to configure globally dependency injection (globally means for all potential/necessary projects) 
  In order to use it inside these projects we proceed like:
  1) This file has been created and added inside a configs folder to the root of the solution (withoput VS)
  2) Right click on solution and add existing item: this file -> a solution items folder is now displayed inside Visual studio with this file
  3) Right click on necessary projects then add existing item and select unit.config file and click on "add as a link"
  4) At the end just right click on the file inside each project then click on property and select copy paste all the time !
  -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="CheckPerfOfDependencyInjection.IMyBusiness, CheckPerfOfDependencyInjection" mapTo="CheckPerfOfDependencyInjection.MyBusiness, CheckPerfOfDependencyInjection" />
    </container>
  </unity>
</configuration>
